body {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    background: #c4b3b3;
}

.box {
    background-color: #7da8db;
    border-radius: 7px;
    box-shadow:
        1px 1px 0px 0px rgb(26, 25, 27),
        2px 2px 0px 0px rgb(26, 25, 27),
        3px 3px 0px 0px rgb(26, 25, 27),
        4px 4px 0px 0px rgb(26, 25, 27),
        5px 5px 0px 0px rgb(26, 25, 27),
        6px 6px 0px 0px rgb(26, 25, 27),
        7px 7px 0px 0px rgb(26, 25, 27);
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 1em;
    grid-template-areas:
        "box-1 box-2 box-2 box-3"
        "box-1 box-4 box-5 box-5";
}

@media(max-width:56em) {
    .grid-container {
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 200px 200px 200px 200px;
        grid-template-areas:
            "box-1 box-1 box-2"
            "box-1 box-1 box-3"
            "box-4 box-5 box-5";
    }
}

@media(max-width:42em) {
    .grid-container {
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px 200px 200px;
        grid-template-areas:
            "box-1 box-1"
            "box-1 box-1"
            "box-4 box-5"
            "box-2 box-3";
    }
}