* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(241, 212, 205);
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.layout-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 auto;
  margin-top: 35px;

  .sidebar-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #fff;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #fff;
  }

  .sidebar-right {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
  }
}
